/*Mobile first, 320 px width*/

* {
  box-sizing: border-box;
}

html {
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  line-height: 1;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18px;
}
a {
  color: #f479f2;
}

header {
  background: url("./webb/FB_pattern_nologo.jpg");
  width: 100%;
  height: 400px;
  background-size: contain;
  padding: 25px;

}
img {
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
}


.text-intro {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  padding: 25px;
}

.first {
  background: #d1fed9;
  width: 100%;
  height: auto;
  padding: 25px;
}


.text-first {
  display: flex;
  flex-flow: column;
  justify-content: left;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;

}

.second {
  background: yellow;
  width: 100%;
  height: 300px;
  padding: 25px;
}

footer {
  background: black;
  width: 100%;
  height: auto;
  padding: 25px;
}

.footer-section-one {
  width: 75%;
  height: 300px;

}

footer p, footer h2 {
  color: #fff;
}

.footer-section-two {
  display: flex;
  justify-content: flex-start;
}

.fb, .ig img {
  height: 50px;
  width: 50px;
  margin: 0 10px 10px 10px;
}


/*
@media (max-width: 320px) {
  .logo {
    width: 75%;
  }
  .footer-section-one, .footer-section-two, .footer-section-three {
    width: 75%;
  }
   .text-logo, .text-first {
    width: 75%;
    margin: 25px;
  }
}*/
