* {
  box-sizing: border-box;
}

html {
  font-family: 'Libre Baskerville', serif;
}

body {
  margin: 0;
}
p, h1, h2 {

}

header {
  background: url("./webb/FB_pattern_nologo.jpg");
  width: 100%;
  height: auto;
  background-size: contain;
}
img {
  width: 600px;
}

.logo {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 1;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto 0 auto;
}

.about {
  text-align: center;
}

.first {
  background: #d1fed9;
  width: 100%;
  height: auto;
}

.text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto 0 auto;
}



@media query {

}
